@import url(colors.css);

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
    justify-content: space-around;
    margin-right: 10px;
    margin-left: 10px;
}

.ut-badge:not(body) {
    align-items: center;
    background-color: #f2f4f7; /* Use variables for the colors */
    border-radius: 1rem; /* Border radius should be consistent with the design, consider to use variables  */
    color: #344054; /* Use variables for the colors */ /* Gray/700 */
    display: inline-flex;
    font-size: 0.75rem; /* Should be consistent with the design, consider to use variables  */
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
    margin-top: 10px;
}

.ut-badge:not(body).is-Gray {
    background-color: var(--color-gray-300);
}

.ut-badge:not(body).is-Primary {
    background-color: var(--color-primary-300);
}

.ut-badge:not(body).is-Success {
    background-color: var(--color-success-300);
}

.ut-badge:not(body).is-Small {
    font-size: 0.3em;
    color: #fff;
}

.ut-badge:not(body).is-Medium {
    font-size: 0.5em;
}

.ut-badge:not(body).is-Large {
    font-size: 0.7em;
}

.btn {
    display: flex;
    align-items: center;
    width: 60px;
    background-color: DodgerBlue;
    border-radius: 1rem;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-size: 0.75rem; /* Should be consistent with the design, consider to use variables  */
    height: 2em;
    justify-content: space-around;
    white-space: nowrap;
    margin-top: 10px;
}

.btn:hover {
    background-color: RoyalBlue;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #333;
    border-radius: 2.5px;
    display: inline-block;
}

.btn:not(body).is-Small {
    font-size: 0.3em;
    color: #fff;
}

.btn:not(body).is-Medium {
    font-size: 0.5em;
}

.btn:not(body).is-Large {
    font-size: 0.9em;
    width: 100px;
}

.btn:not(body).is-Gray {
    background-color: var(--color-gray-300);
}

.btn:not(body).is-Primary {
    background-color: var(--color-primary-300);
}

.btn:not(body).is-Success {
    background-color: var(--color-success-300);
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

button img {
    width: 0.9em;
    height: 0.9em;
}
