@import url(colors.css);


.ut-badge:not(body) {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding: 2px 8px;
font-family: Inter;
font-style: normal;
font-weight: 500;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;
border-radius: 16px;
margin: 12px;
}

.ut-badge:not(body).is-gray {
    background-color: var(--color-gray-100);
}

.ut-badge:not(body).is-primary {
    background-color: var(--color-primary-50);
}


.ut-badge:not(body).is-small{
    font-size: 12px;
    width:48px;
    height: 22px;
}

.ut-badge:not(body).is-medium{
    font-size: 14px;
        width:57px;
        height: 24px;
  /* Text sm/Medium */

/* Gray/700 */
color: #344054;
}


.ut-dot{
<<<<<<< HEAD
width: 6px;
height: 6px;
border-radius: 12px;
margin-right: 5px;
/* Gray/500 */
background: #667085;
}    

.ut-badge:not(body).circle-small{
  width: 24px;
  height: 24px;
  border-radius: 16px;
}

.ut-badge:not(body).circle-medium{
  width: 28px;
  height: 28px;
  border-radius: 16px;
}
=======
    height: 5px;
    width: 5px;
    border-radius: 2.5px;
}

.ut-dot.dot {
    background-color: var(--color-blue-gray-900);
    display: inline-block;
}

.ut-label:not(body).is-Small {
    font-size: 0.3em;
   color: var( --color-rose-25);
}

.ut-label:not(body).is-Medium {
    font-size: 0.5em;
}

.ut-label:not(body).is-Large {
    font-size: 0.9em;
    width: 100px;
}

.ut-label:not(body).is-Gray {
    background-color: var(--color-gray-300);
}

.ut-label:not(body).is-Primary {
    background-color: var(--color-primary-300);
}

.ut-label:not(body).is-Success {
    background-color: var(--color-success-300);
}

.ut-circle {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

button img {
    width: 0.9em;
    height: 0.9em;
}
>>>>>>> 99a8feaea8d2ff589a0864256ff286f01987a2ab
