:root{
    --gray-25: #fcfcfd;
    --gray-50: #f9fafb;
    --gray-100: #f2f4f7;
    --gray-200: #e4e7ec;
    --gray-300: #d0d5dd;
    --gray-400: #98a2b3;
    --gray-500: #667085;
    --gray-600: #475467;
    --gray-700: #344054;
    --gray-800: #1d2939;
    --gray-900: #101828;
    --primary-25: #fcfaff;
    --primary-50: #f9f5ff;
    --primary-100: #f4ebff;
    --primary-200: #e9d7fe;
    --primary-300: #d0d5dd;
    --primary-400: #b692f6;
    --primary-500: #9e77ed;
    --primary-600: #7f56d9;
    --primary-700: #6941c6;
    --primary-800: #53389e;
    --primary-900: #42307d;
    --error-25: #fffbfa;
    --error-50: #fef3f2;
    --error-100: #fee4e2;
    --error-200: #fecdca;
    --error-300: #fda29b;
    --error-400: #f97066;
    --error-500: #f04438;
    --error-600: #d92d20;
    --error-700: #b42318;
    --error-800: #912018;
    --error-900: #7a271a;
    --warning-25: #fffcf5;
    --warning-50: #fffaeb;
    --warning-100: #fef0c7;
    --warning-200: #fedf89;
    --warning-300: #fec84b;
    --warning-400: #fdb022;
    --warning-500: #f79009;
    --warning-600: #dc6803;
    --warning-700: #b54708;
    --warning-800: #93370d;
    --warning-900: #7a2e0e;
    --success-25: #f6fef9;
    --success-50: #ecfdf3;
    --success-100: #d1fadf;
    --success-200: #a6f4c5;
    --success-300: #6ce9a6;
    --success-400: #32d583;
    --success-500: #12b76a;
    --success-600: #039855;
    --success-700: #027a48;
    --success-800: #05603a;
    --success-900: #054f31;
    /* blue-light */
    --blue-gray-25: #FCFCFD;
    --blue-gray-50: #F8F9FC;
    --blue-gray-100: #EAECF5;
    --blue-gray-200: #C8CCE5;
    --blue-gray-300: #9EA5D1;
    --blue-gray-400: #717BBC;
    --blue-gray-500: #4E5BA6;
    --blue-gray-600: #3E4784;
    --blue-gray-700: #363F72;
    --blue-gray-800: #293056;
    --blue-gray-900: #101323;
    /* blue-light */
    --blue-light-25: #F5FBFF;
    --blue-light-50: #F0F9FF;
    --blue-light-100: #E0F2FE;
    --blue-light-200: #B9E6FE;
    --blue-light-300: #7CD4FD;
    --blue-light-400: #36BFFA;
    --blue-light-500: #0BA5EC;
    --blue-light-600: #0086C9;
    --blue-light-700: #026AA2;
    --blue-light-800: #065986;
    --blue-light-900: #0B4A6F;
    /* blue */
    --blue-25: #F5FAFF;
    --blue-50: #EFF8FF;
    --blue-100: #D1E9FF;
    --blue-200: #B2DDFF;
    --blue-300: #84CAFF;
    --blue-400: #53B1FD;
    --blue-500: #2E90FA;
    --blue-600: #1570EF;
    --blue-700: #175CD3;
    --blue-800: #1849A9;
    --blue-900: #194185;
    /* indigo */
    --indigo-25: #F5F8FF;
    --indigo-50: #EEF4FF;
    --indigo-100: #E0EAFF;
    --indigo-200: #C7D7FE;
    --indigo-300: #A4BCFD;
    --indigo-400: #8098F9;
    --indigo-500: #6172F3;
    --indigo-600: #444CE7;
    --indigo-700: #3538CD;
    --indigo-800: #2D31A6;
    --indigo-900: #2D3282;
    /* purple */
    --purple-25: #FAFAFF;
    --purple-50: #F4F3FF;
    --purple-100: #EBE9FE;
    --purple-200: #D9D6FE;
    --purple-300: #BDB4FE;
    --purple-400: #9B8AFB;
    --purple-500: #7A5AF8;
    --purple-600: #6938EF;
    --purple-700: #5925DC;
    --purple-800: #4A1FB8;
    --purple-900: #3E1C96;
    /* pink */
    --pink-25: #FEF6FB;
    --pink-50: #FDF2FA;
    --pink-100: #FCE7F6;
    --pink-200: #FCCEEE;
    --pink-300: #FAA7E0;
    --pink-400: #F670C7;
    --pink-500: #EE46BC;
    --pink-600: #DD2590;
    --pink-700: #C11574;
    --pink-800: #9E165F;
    --pink-900: #851651;
    /* rose */
    --rose-25: #FFF5F6;
    --rose-50: #FFF1F3;
    --rose-100: #FFE4E8;
    --rose-200: #FECDD6;
    --rose-300: #FEA3B4;
    --rose-400: #FD6F8E;
    --rose-500: #F63D68;
    --rose-600: #E31B54;
    --rose-700: #C01048;
    --rose-800: #A11043;
    --rose-900: #89123E;
    /* orange */
    --orange-25: #FFFAF5;
    --orange-50: #FFF6ED;
    --orange-100: #FFEAD5;
    --orange-200: #FDDCAB;
    --orange-300: #FEB273;
    --orange-400: #FD853A;
    --orange-500: #FB6514;
    --orange-600: #EC4A0A;
    --orange-700: #C4320A;
    --orange-800: #9C2A10;
    --orange-900: #7E2410;
}
