*{
    margin: 0;
    padding: 0;
}

.logo {
    background: url('../img/untitled_ui_dark_logo.svg');
}

.contact-us{
    color: var(--color-primary-600);
}

h1 {
    color: var(--color-gray-900);
}

.ut-top-nav-bar .dropdown-menu-icon {
    background: url("../icons/dropdown-menu-arrow.svg") no-repeat;
    background-size: cover;
}

.map {
    margin: auto;
    width: 1280px;
    height: 488px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #fff;
}

.map img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.map-title{
    height: 342px;
    text-align: center;
}

.map-title{
    display: flex;
    justify-content: center;
    align-content: center;
}

.map-header-title {
    margin: auto;
}

.map-header-title h1 {
    font-size: 48px;
}

.map-header-title h1 + span {
    font-size: 20px;
}

.map-title h1{ 
    margin-top: 12px;
    margin-bottom: 24px;
}

.map-title h1 + span{
    color: var(--color-gray-500);
}

.map-footer{
    height: 106px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: #fff;
    margin-top: 4rem;
    margin-bottom: 96px;
}

.map-info a {
    text-decoration: none;
    color: var(--color-primary-700);
    margin-top: 20px;
}

.map-info-container span,
.map-info-container a {
    display: block;
}

.map-info-container span:first-child {
    color: var(--color-gray-900);
    margin-bottom: 8px;
}

.map-info-container span {
    color: var(--color-gray-500);
}

.our-locations{
    height: 514px;
    width: 100%;
    padding: 0;
    background-color: var(--color-primary-800);
    display: flex;
}

.our-locations-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 322px;
    width: 1280px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.office-cities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.office-city {
    margin-left: 8rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}

.office-city p {
    color: var(--color-primary-200);
    margin-top: 0.5rem;
}

header.location-title{
    margin: 130px;
}

.our-locations h2 {
    color: #fff;
    margin-top: 12px;
}

.our-locations h2 + span {
    margin-top: 20px;
}

.our-locations span {
    color: var(--color-primary-200);
}

.our-locations span:first-child {
    color: #fff;
    display: block;
}

.our-locations ul li {
    list-style: none;
    margin-bottom: 32px;
}

.our-locations ul li:last-child{
    margin-bottom: 0;
}

.our-location-container {
    width: 100%;
    height: 322px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.location-title-container {
    order: 0;
}

.office-city-container-col-1 {
    order: 1;
}

.office-city-container-col-2 {
    order: 2;
}

.location-offices ul{
    list-style: none;
}

.location-offices .office-city{
    color: white;
}

.location-offices ul li span{
    color: var(--color-primary-200);
    display: block;
}

.contact-section p{
    color: var(--color-gray-500);
    margin-top: 20px;
}

.contact-section a{
    color: var(--color-primary-700);
}


.contact-section {
    background: #fff;
    width: 100%;
    height: 1070px;
    display: flex;
}

.contact-container {
    margin: 96px 32px;
    display: flex;
    flex: 50%;
    align-items: center;
    flex-direction: column;
}

.contact-form-title {
    text-align: left;
    margin-bottom: 48px;
}

.form-img {
    height: 100%;
    background: url("../img/office-pic.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 50%;
}

.contact-form {
    height: 100%;
    background: #fff;
}

.contact-form p{
    color: var(--color-gray-500);
    margin-top: 20px;
}

.contact-form a{
    color: var(--color-primary-700);
}

.form .input-container {
    margin: 24px 0;
}

.input-container input {
    margin-top: 6px;
}

.input-container textarea {
    margin-top: 6px;
}

.form input[type="text"], input[type="tel"], input[type="email"]{ 
    border: 1px solid #F4F5F7;
    width: 512px;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form::placeholder {
    color: var(--color-gray-500);
}

.form .message-box {
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 10px 14px;
    width: 512px;
    height: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.services-checkboxes {
    width: 512px;
    margin-top: 16px;
}

.input-container label {
    color: var(--color-gray-700);
}

.checkboxes-container-col-1 {
    float: left;
    width: 50%;
}

.checkboxes-container-col-2 {
    float: right;
    width: 50%;
}

.service-checkboxes input[type="checkbox"] {
    border-radius: 6px;
    margin: 0 12px;
    padding: 20px;
    border-color: #F4F5F7;
}

.form .get-started-btn {
    border-radius: 0.5rem;
    border: 1px solid var(--color-primary-600);
    background: var(--color-primary-600);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    padding: 12px 20px;
    color: #fff;
    width: 512px;
    height: 48px;
    margin-top: 2rem;
}


.form ul li {
    list-style: none;
}

.services-checkboxes label {
    margin: 0px 0.75rem;
}

section .newsletter-sign-up{
    height: 25.125rem;
    display: flex;
    background: var(--color-gray-50);
}

.newsletter-sign-up .sign-up-title h2{
    color: #D4D7DE;
}

.newsletter-sign-up .sign-up-title p{
    color: var(--color-gray-500);

}

.newsletter-sign-up .sign-up-title {
    margin: auto;
    text-align: center;
}

.newsletter-sign-up-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.sign-up-title h2 {
    margin-bottom: 1.25rem;
}

.newsletter-sign-up .newsletter-sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-subscribe {
    padding: 0.75rem 1.25rem; 
    color: #fff;
    border-radius: 8px;
    background: var(--color-primary-600); 
    border: 1px solid var(--color-primary-600);
    box-sizing: border-box;  
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.5rem;
    margin-left: 1rem;
}

.newsletter-sign-up {
    height: 402px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    background: var(--color-gray-50);
}

.sign-up-newsletter-form{
    display: flex;
    flex-direction: column;
}


.newsletter-sign-up .sign-up-newsletter-form p a{
    color: var(--color-gray-500);
    margin: 0.5rem 0;
}

.sign-up-newsletter-form input[type='email'] {
    height: 44px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgb(16 24 40 / 5%);
    border-radius: 0.5rem;
    display: flex;
    padding: 0.75rem 0.875rem 0.75rem 1rem;
}

.newsletter-footer-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 22.5rem;
}

.newsletter-footer-container {
    margin: 0 auto;
}

.newsletter-footer-submit p {
    color: var(--color-gray-500);
}

.newsletter-footer-submit input[type='email']{
    height: 2.75rem;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid var(--color-gray-300);
    box-sizing: border-box;   
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 0.5rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem 0.875rem 0.75rem 1rem;
    align-self: stretch;
    flex-grow: 0;
    margin: 0.375rem 0;
}

