
@import url("../../css//colors.css");

/* Different sizes */
:root {
	--xs-size: 24px;
	--sm-size: 32px;
	--md-size: 40px;
	--lg-size: 48px;
	--xl-size: 56px;
}

.ut-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

/* Sizing */
.ut-icon.xs {
	width: var(--xs-size);
	height: var(--xs-size);
	font-size: calc(var(--xs-size) / 2);
}

.ut-icon.sm {
	width: var(--sm-size);
	height: var(--sm-size);
	font-size: calc(var(--sm-size) / 2);
}

.ut-icon.md {
	width: var(--md-size);
	height: var(--md-size);
	font-size: calc(var(--md-size) / 2);
}

.ut-icon.lg {
	width: var(--lg-size);
	height: var(--lg-size);
	font-size: calc(var(--lg-size) / 2);
}

.ut-icon.xl {
	width: var(--xl-size);
	height: var(--xl-size);
	font-size: calc(var(--xl-size) / 2);
}

/* Border radius */
.ut-icon.circle {
	border-radius: 50%;
}
.ut-icon.xs:not(.circle) {
	border-radius: 4px;
}
.ut-icon.sm:not(.circle) {
	border-radius: 6px;
}
.ut-icon.md:not(.circle) {
	border-radius: 8px;
}
.ut-icon.lg:not(.circle) {
	border-radius: 10px;
}
.ut-icon.xl:not(.circle) {
	border-radius: 12px;
}

/* Color */
.ut-icon.primary:not(.dark) {
	background: var(--color-primary-100);
	color: var(--color-primary-600);
}

.ut-icon.gray:not(.dark) {
	background: var(--color-gray-100);
	color: var(--color-gray-600);
}

.ut-icon.error:not(.dark) {
	background: var(--color-error-100);
	color: var(--color-error-600);
}

.ut-icon.warning:not(.dark) {
	background: var(--color-warning-100);
	color: var(--color-warning-600);
}

.ut-icon.success:not(.dark) {
	background: var(--color-success-100);
	color: var(--color-success-600);
}

/* outline */
.ut-icon.outline {
	border-style: solid;
}
.ut-icon.primary.outline:not(.dark) {
	border-color: var(--color-primary-50);
}
.ut-icon.gray.outline:not(.dark) {
	border-color: var(--color-gray-50);
}
.ut-icon.error.outline:not(.dark) {
	border-color: var(--color-error-50);
}
.ut-icon.warning.outline:not(.dark) {
	border-color: var(--color-warning-50);
}
.ut-icon.success.outline:not(.dark) {
	border-color: var(--color-success-50);
}
.ut-icon.xs.outline {
	border-width: 2px;
}
.ut-icon.sm.outline {
	border-width: 4px;
}
.ut-icon.md.outline {
	border-width: 6px;
}
.ut-icon.lg.outline {
	border-width: 8px;
}
.ut-icon.xl.outline {
	border-width: 10px;
}

/* Dark */
.ut-icon.primary.dark {
	background: var(--color-primary-600);
	color: white;
}
.ut-icon.gray.dark {
	background: var(--color-gray-600);
	color: white;
}
.ut-icon.error.dark {
	background: var(--color-error-500);
	color: white;
}
.ut-icon.warning.dark {
	background: var(--color-warning-500);
	color: white;
}
.ut-icon.success.dark {
	background: var(--color-success-500);
	color: white;
}
.ut-icon.primary.dark.outline {
	border-color: var(--color-primary-700);
}
.ut-icon.gray.dark.outline {
	border-color: var(--color-gray-700);
}
.ut-icon.error.dark.outline {
	border-color: var(--color-error-600);
}
.ut-icon.warning.dark.outline {
	border-color: var(--color-warning-600);
}
.ut-icon.success.dark.outline {
	border-color: var(--color-success-600);
}

/* Square */
.ut-icon.light-square {
	background: var(--color-primary-50);
	color: var(--color-primary-600);
}
.ut-icon.md-square {
	background: var(--color-primary-500);
	color: white;
}
.ut-icon.dark-square {
	background: var(--color-primary-800);
	color: white;
}
