:root {
  --shadow-xs: 0px 1px 2px #1018280D;
  --shadow-sm: 0px 1px 3px #1018281A, 0px 1px 2px #1018280F;
  --shadow-md: 0px 4px 8px -2px #1018281A, 0px 2px 4px -2px #1018280F;
  --shadow-lg: 0px 12px 16px -4px #1018281A, 0px 4px 6px -2px #1018280D;
  --shadow-xl: 0px 20px 24px -4px #1018281A, 0px 8px 8px -4px #1018280A;
  --shadow-2xl: 0px 24px 48px -12px #10182840;
  --shadow-3xl: 0px 32px 64px -12px #10182833;
}