/* Variables */

:root {
    --header-line-height: 1.2;
    --paragraph-line-height: 1.5;
    --letter-spacing: -0.02rem;
    --font-family: 'Inter', sans-serif;
    --font-weight-reg: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
}

/* -------------------------------------------------------
Typography font faces
*/

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-LightItalic.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Italic.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-MediumItalic.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: '../fonts/Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
  url("../fonts/Inter-BlackItalic.woff?v=3.19") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("../fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}



/*

  "Display" Font faces are reserved for the use of Headings (H1 - H6) and
  "Text" Font faces should be used for the majority of informational copy such as (body, labels, and UI elements) */


.ut-display-2xl-reg {
    font-size: 4.5rem;
    line-height: 5.625rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-reg);
}

.ut-display-2xl-med {
    font-size: 4.5rem;
    line-height: 5.625rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-medium);
}

.ut-display-2xl-semi-bold {
    font-size: 4.5rem;
    line-height: 5.625rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-semi-bold);
}

.ut-display-2xl-bold {
    font-size: 4.5rem;
    line-height: 5.625rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-bold);
}

/* Display XL */

.ut-display-xl-reg {
    font-size: 3.75rem;
    line-height: 4.625rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-bold);
}

.ut-display-xl-med {
    font-size: 3.75rem;
    line-height: 4.625rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-medium);
}

.ut-display-xl-semi-bold {
    font-size: 3.75rem;
    line-height: 4.625rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-semi-bold);
}

.ut-display-xl-bold {
    font-size: 3.75rem;
    line-height: 4.625rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-bold);
}

/* Display lg */

.ut-display-lg-reg {
        font-size: 3rem;
        line-height: 3.75rem;
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-reg);
}

.ut-display-lg-med {
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-medium);
}


.ut-display-lg-semi-bold {
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-semi-bold);
}

.ut-display-lg-bold {
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-bold);
}

/* Display md */

.ut-display-md-reg {
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-reg);
}

.ut-display-md-medium {
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-medium);
}

.ut-display-md-semi-bold {
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-semi-bold);
}

.ut-display-md-bold {
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-bold);
}

/* Display SM */

.ut-display-sm-reg {
    font-size: 1.875rem;
    line-height: 2.375rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-reg);
}

.ut-display-sm-med {
    font-size: 1.875rem;
    line-height: 2.375rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-medium);
}

.ut-display-sm-semi-bold {
    font-size: 1.875rem;
    line-height: 2.375rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-semi-bold);
}

.ut-display-sm-bold {
    font-size: 1.875rem;
    line-height: 2.375rem;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-weight-bold);
}

/* Display XS */

.ut-display-xs-reg {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: var(--font-weight-reg);
}

.ut-display-xs-med {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: var(--font-weight-medium);
}

.ut-display-xs-semi-bold {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: var(--font-weight-semi-bold);
}

.ut-display-xs-bold {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: var(--font-weight-bold);
}

/* Text XL */

.ut-text-xl-reg {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: var(--font-weight-reg);
}

.ut-text-xl-med {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: var(--font-weight-medium);
}

.ut-text-xl-semi-bold {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: var(--font-weight-semi-bold);
}

.ut-text-xl-bold {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: var(--font-weight-bold);
}

/* Text lg */

.ut-text-lg-reg {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: var(--font-weight-reg);
}

.ut-text-lg-med {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: var(--font-weight-medium);
}

.ut-text-lg-semi-bold {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: var(--font-weight-semi-bold);
}

.ut-text-lg-bold {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: var(--font-weight-bold);
}

/* Text MD */

.ut-text-md-reg{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-reg);
}

.ut-text-md-med{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-medium);
}

.ut-text-md-semi-bold{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
}

.ut-text-md-bold{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--font-weight-bold);
}

/* Text Small */

.ut-text-sm-reg {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: var(--font-weight-reg);
}

.ut-text-sm-med {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: var(--font-weight-medium);
}

.ut-text-sm-semi-bold {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: var(--font-weight-semi-bold);
}

.ut-text-sm-bold {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: var(--font-weight-bold);
}

/*Text XS */

.ut-text-xs-reg {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: var(--font-weight-reg);
}

.ut-text-xs-med {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: var(--font-weight-medium);
}

.ut-text-xs-semi-bold {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: var(--font-weight-semi-bold);
}

.ut-text-xs-bold {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: var(--font-weight-bold);
}

/* Fluid typography formula */
html {
  font-size: 1rem;

  @media (min-width: 320px) {
      font-size: 1.2rem;
  }

  @media (min-width: 760px) {
      font-size: 1.5rem;
  }
}