/teams/1/* @tonyblu331 @Zurina @Scientist-Ansh @juliusberthold @lagom-QB

/teams/2/* @juditmoya4 @karimmango @oboznyiM @HusDev

/teams/3/* @nikabutikashvili @Dinigmb @mc-pixel @mdsredina

/teams/4/* @wriozumi @Giancarix117 @KashyapPavra @wasim919

/teams/5/* @BThero @ysm0706glee @lintin9095 @trackmystories