/* Disregard these styles. This is ony for example purposes */

h2 {
    margin-top: 3rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}

/* All the necessary styles for the list is here */
ul {
    padding: 0;
    margin: 0;
}

li {
    text-indent: 0;
    list-style-type: none;
}

input {
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 360px;
    height: 36px;
    outline: none;
    padding: 12px 14px 12px 16px;
}

section {
    /* margin-top: 2rem; */
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

@media (max-width: 768px) {
    section {
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 5rem;
    }
}

@media (max-width: 480px) {
    section {
        padding-top: 0px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 0px;
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}

.btn-primary {
    background-color: #7f56d9;
    border: 1px solid #7f56d9;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    color: #fff;
}

.w-full {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.opacity-75 {
    opacity: 0.75;
}

.opacity-50 {
    opacity: 0.5;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.block {
    display: block;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.-ut-list-horizontal {
    display: flex;
    justify-content: space-between;
}

.-ut-list-grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 32px;
}

@media (max-width: 768px) {
    .-ut-list-grid-cols-2 {
        display: block;
    }
}

.-ut-list-grid-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.-ut-list-items-mr-2 li {
    margin-right: 2rem;
}

@media (max-width: 1200px) {
    .-ut-list-horizontal {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 20px;
    }
}

.hero {
    display: flex;
}

.portfolio-performance {
    margin: auto;
    flex: 1;
}

.portfolio-performance h1 {
    color: var(--color-gray-900);
}

.portfolio-performance p {
    color: var(--color-gray-500);
    margin-bottom: 48px;
}

.badge {
    display: flex;
    align-items: center;
    padding: 4px 10px 4px 4px;
    background-color: var(--color-primary-50);
    mix-blend-mode: multiply;
    border-radius: 16px;
    width: 296px;
    height: 32px;
    color: var(--color-primary-700);
}

.badge-label {
    padding: 2px 10px;
    margin-right: 8px;
    background-color: #fff;
    border-radius: 12px;
}

.badge-text {
    display: flex;
    align-items: center;
}

.arrow {
    margin-left: 5px;
}

.analytics {
    background-image: url('../../img/blob.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    z-index: -1;
    flex: 1;
}

@media (max-width: 1200px) {
    .hero {
        display: block;
        height: auto;
    }
    .portfolio-performance {
        padding-bottom: 60px;
        width: auto;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-semi-bold);
    }
    .analytics {
        height: 360px;
        background-image: none;
    }
    .analytics > img {
        width: 100%;
        object-fit: cover;
        object-position: -20% 0;
        padding-top: 0px;
    }
}

.partners {
    color: var(--color-gray-500);
    background-color: var(--color-gray-50);
    text-align: center;
}

.partners h2 {
    margin-bottom: 32px;
}

.companies li:last-child {
    display: none;
}

@media (max-width: 1200px) {
    .companies li:last-child {
        display: block;
    }
}

@media (max-width: 768px) {
    .partners {
        padding: 64px 16px;
    }

    .partners h2 {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .partners {
        height: 318px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .partners h2 {
        margin-bottom: 0px;
    }

    .companies img {
        width: 155px;
    }
}

.features h2 {
    color: var(--color-primary-700);
}

.features > span {
    color: var(--color-gray-900);
}

.features > p {
    color: var(--color-gray-500);
    width: 768px;
}

@media (max-width: 1200px) {
    .features > p {
        width: auto;
    }
}

.benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 64px;
    grid-column-gap: 32px;
}

.benefits li img {
    margin-bottom: 20px;
    display: block;
}

.benefits li > span {
    color: var(--color-gray-900);
}

.benefits li > p {
    color: var(--color-gray-500);
}

.stats {
    position: relative;
    display: flex;
}

.background-image {
    position: absolute;
    z-index: -2;
    top: -85px;
    /* background-image: url('../../img/statistics-dashboard.png'); */
}

@media (max-width: 1200px) {
    .benefits {
        display: block;
        height: auto;
    }
    .stats {
        margin-top: 150px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .background-image {
        display: none;
    }
    .stats {
        justify-content: center;
        margin-top: 100px;
        height: 360px;
    }
}

@media (max-width: 480px) {
    .stats {
        margin-top: 48px;
        height: auto;
    }
    .stats .iphone-mock-up {
        height: 425px;
        width: 100%;
        object-fit: cover;
        object-position: -20% 0;
        padding-top: 0px;
    }
    .stats-image img {
        width: 100%;
    }
}

.trial {
    box-sizing: border-box;
    height: 600px;
    background: var(--color-primary-800);
    border-radius: 24px;
    
    
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1),
        0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    display: flex;
    align-items: center;
    color: #fff;
    margin: 30px 80px;
}

.trial-item-1 {
    margin: 0 auto;
    flex: 1;
}

.trial-item-1 p {
    color: var(--color-primary-200);
}

.trial-item-2 {
    background-image: url('../../img/iphone-12-mock-up-3.png');
    background-repeat: no-repeat;
    background-position: 230px 0px;
    height: 100%;
    width: 100%;
    flex: 1;
}

.download {
    margin-top: 40px;
}

@media (max-width: 1200px) {
    .trial {
        flex-direction: column;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .trial-item-2 {
        background-position: top;
    }
}

@media (max-width: 480px) {
    .trial h2 {
        font-size: 1.875rem;
        line-height: 2.375rem;
        letter-spacing: var(--letter-spacing);
        font-weight: var(--font-weight-semi-bold);
        text-align: center;
        margin-top: 40px;
    }
}

.notification-center {
    margin-top: 100px;
}

.notification {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    backdrop-filter: blur(16px);
    border-radius: 8px;
    width: 320px;
    height: 72px;
    padding: 16px;
    margin-top: 12px;
}

.notification img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.notification p {
    color: var(--color-gray-700);
    margin: 0px;
}

.notification p > span {
    color: var(--color-primary-700);
}

.trial-item-1 .download {
    display: flex;
}

.trial-item-1 .download > img {
    margin-right: 15px;
}

@media (max-width: 1200px) {
    .notification {
        display: none;
    }
}

@media (max-width: 768px) {
    .trial {
        flex-direction: column;
        margin: 16px;
        min-height: 700px;
    }
    .trial-item-2 {
        background-position: top;
    }
    .download {
        display: flex;
        justify-content: space-evenly;
    }
}

.alt-tag {
    color: var(--color-gray-500);
}

.upgrade {
    margin-top: 100px;
    display: flex;
}

.upgrade h2 {
    color: var(--color-primary-700);
}

.plan-boxes {
    display: flex;
}

.pricing-plans {
    flex: 1.5;
}

.pricing-plans span {
    color: var(--color-gray-900);
}

.color-list li {
    color: var(--color-gray-500);
}
.pricing-plans p {
    color: var(--color-gray-500);
}

.price-badge {
    color: var(--color-gray-900);
}

.pricing-items-1 {
    background: #ffffff;
    border: 1px solid #e4e7ec;
    box-sizing: border-box;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1),
        0px 4px 6px -2px rgba(16, 24, 40, 0.05);
    border-radius: 16px;
    padding: 20px 20px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 510px;
    width: 336px;
    position: relative;
    flex: 1.5;
    max-width: 336px;
}

.pricing-items-1 button {
    width: 272px;
    height: 48px;
}

.pricing-items-1 h3 {
    color: var(--color-gray-900);
    margin: 0;
}

.most-popular-badge {
    position: absolute;
    top: -40px;
    right: 0px;
    color: var(--color-primary-500);
}

.most-popular-badge p {
    position: absolute;
    margin: 0%;
    top: -10px;
    right: -110px;
}

@media (max-width: 1200px) {
    .upgrade {
        display: block;
        height: auto;
    }
    .plan-boxes {
        margin-top: 80px;
        justify-content: space-evenly;
    }
    .pricing-items-1 {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .upgrade {
        margin-top: 40px;
    }
    .plan-boxes {
        margin-top: 64px;
        flex-direction: column;
        align-items: center;
    }
    .pricing-items-1 {
        margin-bottom: 16px;
        min-height: 486px;
    }
    .most-popular-badge {
        right: 100px;
    }

    .color-for-ut-list {
        color: var(--color-gray-500);
    }
}

.subscription {
    display: flex;
}

input[type='email'] {
    margin-right: 16px;
}

.email {
    margin-right: 64px;
}

.email span {
    color: var(--color-gray-500);
    display: block;
}
.email p{
    color: var(--color-gray-500);
    display: block;
}

.email h2 {
    color: var(--color-gray-900);
}

.email input {
    width: 360px;
    height: 48px;
}

.email-subscribe {
    display: flex;
    margin-top: 40px;
}

.email button {
    width: 118px;
    height: 48px;
}

.email input {
    box-sizing: border-box;
    width: 360px;
    height: 48px;
    padding: 12px 14px 12px 16px;
}

@media (max-width: 1200px) {
    .subscription {
        flex-direction: column;
        align-items: center;
    }

    .subscription img {
        margin-top: 88px;
    }

    .email-subscribe {
        flex-direction: column;
    }
    .email-subscribe input {
        width: 100%;
        margin: 32px 0px 8px 0px;
    }
    .email-subscribe button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .subscription {
        padding-bottom: 0px;
    }
    .email {
        margin-right: 0px;
    }
}

footer {
    background-color: #53389e;
    color: #fff;
    padding: 64px 80px;
}

.view-demo {
    border-bottom: 1px solid var(--color-primary-600);
    padding-bottom: 32px;
}

.view-demo > p {
    color: var(--color-primary-200);
}

.view-btns {
    display: flex;
}

.btn-white {
    background-color: #fff;
    color: #344054;
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 154px;
    height: 48px;
    display: flex;
    justify-content: center;
    margin-right: 32px;
    box-sizing: border-box;
}

.btn-white > img {
    margin-right: 8px;
}

.btn-purple {
    background-color: var(--color-primary-600);
    width: 128px;
    height: 48px;
    border: 1px solid #7f56d9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.btn-light-purple {
    background-color: #d6c7f7;
}

.footer-1 {
    padding: 64px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-primary-600);
}

.footer-nav li {
    margin-right: 20px;
}

.download span,
.download img {
    display: block;
    /* width: 100%; */
}

.app-store-icon {
    margin: 16px 0px;
}

.footer-1-left {
    width: 320px;
    color: var(--color-primary-200);
}

.footer-footer {
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
}

.footer-footer span {
    color: var(--color-primary-200);
}

.footer-footer li {
    margin-left: 24px;
}

@media (max-width: 768px) {
    footer {
        padding: 48px 16px;
        text-align: center;
    }

    .footer-1 {
        flex-direction: column;
    }

    .footer-1-left {
        width: auto;
    }

    .footer-1 p {
        text-align: start;
    }

    .footer-1 ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .footer-1 .download {
        display: block;
    }
    .footer-1 .download div {
        display: flex;
    }
    .footer-1 .download span {
        display: block;
    }
}

@media (max-width: 480px) {
    .view-btns {
        flex-direction: column;
        width: 100%;
    }
    .footer-1 {
        padding: 48px 0px;
    }
    .footer-nav {
        text-align: start;
    }
    .ut-list-horizontal {
        row-gap: 12px;
    }
    .btn-white {
        order: 1;
        margin-top: 12px;
    }
    .view-btns button {
        width: 100%;
    }

    .app-store-icon {
        margin-right: 16px;
    }

    .download span {
        text-align: start;
    }

    .footer-footer {
        flex-direction: column;
    }

    .footer-footer span {
        order: 1;
        margin-top: 24px;
        text-align: start;
    }
}

