/* Disregard these styles. This is ony for example purposes */
html {
    box-sizing: border-box;
}

body {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
    color: #667085;
    font-family: sans-serif;
}

h2 {
    margin-top: 3rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

/* All the necessary styles for the list is here */
ul {
    padding: 0;
    margin: 0;
}

li {
    text-indent: 0;
    list-style-type: none;
}

.-ut-list-horizontal {
    display: flex;
}

.-ut-list-grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.-ut-list-grid-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.-ut-list-items-mr-2 li {
    margin-right: 2rem;
}
