@import '../../colors.css';

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ut-top-v-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-v-navbar-list .nav-item {
    margin: 10px;
}

.ut-top-v-navbar a img {
    border-top: 1px solid black;
}

main {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

#heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-wrapper span {
    color: var(--color-gray-500);
}

#transaction-history header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    border-bottom: 1px solid black;
}
table td {
    border-bottom: 1px solid black;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

.cards header {
    display: flex;
    flex-direction: row;
}

.budgets header {
    display: flex;
    flex-direction: row;
}

.budgets ul {
    list-style-type: none;
    padding-left: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
}
