@import '../../colors.css';

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ut-top-v-navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    height: 960px;
    justify-content: space-between;
    align-items: center;
    padding: 32px 10px;
}

.bottom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-wrapper hr {
    width: 100%;
}

.top-v-navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-v-navbar-list .nav-item {
    margin-bottom: 10px;
}

main {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

#heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-wrapper > span {
    color: var(--color-gray-500);
}

.balance span {
    color: var(--color-gray-900);
}

.buttons button {
    color: var(--color-gray-700);
    background-color: #ffffff;
    border: 1px solid var(--color-gray-300);
}

#transaction-history header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#transaction-history header h2 {
    color: var(--color-gray-900);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    border-bottom: 1px solid black;
}

table td {
    border-bottom: 1px solid black;
}

table thead span {
    color: var(--color-gray-500);
}

table tbody button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
}

#side-panel header img {
    margin-top: -30px;
    margin-left: 10px;
}

.email {
    display: block;
}

.cards header {
    display: flex;
    flex-direction: row;
}

.cards button {
    border: 0;
    background: transparent;
}

.budgets header {
    display: flex;
    flex-direction: row;
}

.budgets button {
    border: 0;
    background: transparent;
    position: relative;
    top: 15px;
}

.budgets ul {
    list-style-type: none;
    padding-left: 0;
}

.budgets ul li {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--color-blue-25);
    margin-bottom: 10px;
    border-radius: 12px;
    justify-content: flex-start;
    align-items: center;
}

.budgets ul li img {
    margin-right: 20px;
}

.budgets ul li .wrapper {
    width: 100%;
}

.budgets ul li .wrapper progress {
    width: 100%;
}

.text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text span {
    display: block;
}
