@import '../../colors.css';


@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

footer {
    background-color: var(--color-gray-800);
    color: var(--color-gray-200);
    padding: 4em 7em;
    font-size: 1em;
    line-height: 1.5em;
}
hr {
    border: solid 1px var(--color-gray-600)
}
.cta-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}
.cta-title {
    display: block;
}

.cta-title > span {
    font-weight: 500;
    font-size: 1.875em;
    color: white;
}

.cta-title > p {
    font-size: 1.25em;
}

button {
    background: var(--color-primary-600);
    border: none;
    border-radius: 0.5em;
    height: 2.75em;
    padding: 10px 18px;
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.button-secondary {
    background-color: white;
    color: var(--color-gray-700);
    margin-right: 0.75em;
    border: solid 1px var(--color-gray-300);
}

nav {
    /* Auto Layout */
    display: flex;
   justify-content: space-between;
}

#footer-main-nav {
    display: flex;
    justify-content: space-between;
    padding: 4em 0;
}

.footer-nav {
    width: 70%;
}

.footer-menu-list{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 2em;
}

.footer-menu-list:last-child{
    margin-right: 0;
}

.footer-menu-list span {
    display: block;
    font-weight: 600;
    font-size: 0.875em;
    color: var(--color-gray-400);
}

.footer-menu-list ul {
   padding: 0;
}

.footer-menu-list ul li {
    /* Auto Layout */
    display: flex;
    margin-bottom: 0.75em ;   
    font-size: 1em; 
}

.footer-menu-list ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-social {
    /* Auto Layout */
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.footer-social-Copyright {
    color: var(--color-gray-400);
    text-align: left;
    font-weight: 400;
}
