@import url("../../css/colors.css");

:root {
	--color-white: #ffffff;
}

.ut-avatar-list {
	display: flex;
}
.ut-avatar-list div {
	margin: 0rem 1rem;
}
.ut-avatar-indicator::after {
	position: absolute;
	content: " ";
	width: 15%;
	height: 15%;
	right: 5%;
	bottom: 5%;
	background: var(--color-success-500);
	border: 1.5px solid var(--color-white);
	border-radius: 50%;
}
.ut-avatar {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	background: url(Image.png);
	background-size: contain;
	border-radius: 200px;
}
.ut-avatar-xs {
	width: 24px;
	height: 24px;
}
.ut-avatar-sm {
	width: 32px;
	height: 32px;
}
.ut-avatar-md {
	width: 40px;
	height: 40px;
}
.ut-avatar-lg {
	width: 48px;
	height: 48px;
}
.ut-avatar-xl {
	width: 56px;
	height: 56px;
}
.ut-avatar-2xl {
	width: 64px;
	height: 64px;
}
.ut-avatar_image {
	height: 220px;
	width: 160px;
	left: 16px;
	top: 16px;
	border-radius: 0px;
}
.ut-avatar-group {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	left: 16px;
	top: 16px;
	position: relative;
}

.ut-avatar-group-xs .ut-avatar:first-child {
	left: 0px;
}

.ut-avatar-group-xs .ut-avatar {
	position: relative;
	left: calc(var(--n) * -5px);
}
.ut-avatar-group-xs .ut-avatar {
	width: 24px;
	height: 24px;
	border: 1.5px solid var(--color-white);
}
.ut-avatar-group-sm .ut-avatar {
	width: 32px;
	height: 32px;
	border: 1.5px solid var(--color-white);
}
.ut-avatar-group-sm .ut-avatar {
	position: relative;
	left: calc(var(--n) * -8px);
}
.ut-avatar-group-md .ut-avatar {
	width: 40px;
	height: 40px;
	border: 1.5px solid var(--color-white);
}
.ut-avatar-group-md .ut-avatar {
	position: relative;
	left: calc(var(--n) * -10px);
}
