@import url("../../css/colors.css");

:root {
  --color-white: #ffffff;
  font-family: var(--font-family);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  list-style: none;
  background: var(--color-gray-50);
}


main {
  margin-left: 362px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0px;
}

.mobile__header {
  display: none;
}

/* .container {
  display: grid;
  grid-template-columns: 81px 281px 1fr;
} */

.collapsed__nav {
  position: fixed;
  width: 81px;
  height: 100%;
  background: var(--color-primary-700);
}

.collapsed__nav li:not(.settings__logo, .settings__badge, .collapsed__nav__avatar) img {
  width: 20px;
  height: 20px;
}

.collapsed__nav hr {
  margin: 24px 16px 0px;
  color: var(--color-primary-600);
}

.collapsed__nav>ul {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.settings__nav {
  position: fixed;
  width: 281px;
  height: 100%;
  left: 81px;
  background: var(--color-primary-800);
}

.settings__logo {
  padding: 32px 24px;
}

.ut-icon-grp-1 {
  padding: 14px 31px 0px;
}

.ut-icon-grp-1 li:not(:first-of-type) {
  margin: 40px 0px;
}

.ut-icon-grp-2 {
  margin-top: auto;
  padding-bottom: 24px;
}

.ut-icon-grp-2 li:not(:last-of-type) {
  padding: 0px 32px;
}

.ut-icon-grp-2 li:not(:first-of-type) {
  margin-top: 40px;
  padding: 0px 16px;
}

.settings__nav {
  padding: 36px 28px 0px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
}

.settings__nav img:not(.notification__badge) {
  width: 19px;
  height: 19px;
  object-fit: contain;
}

.notification__badge {
  float: right;
}

.settings__nav li span {
  margin-left: 14px;
}

.settings__nav li:not(:first-of-type) {
  margin-top: 16px;
}

.settings__nav li.active {
  background: var(--color-primary-700);
  height: 40px;
  display: flex;
  margin-left: -10px;
  align-items: center;
  padding-left: 10px;
  border-radius: 6px;
}

.settings__icon__list {
  margin-top: 24px;
}

.settings__nav__item {
  color: var(--color-white);
}

.settings__nav__details__wrapper {
  margin-top: auto;
  margin-bottom: 24px;
}

.logout__icon {
  float: right;
  cursor: pointer;
}

.settings__nav__user__email {
  margin-top: 8px;
  display: inline-block;
}

.main__container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  padding-left: 92px;
}

.main__header {
  display: flex;
  justify-content: space-between;
}

.main__header__input__wrapper {
  position: relative;
}

.main__header__input__wrapper>input {
  position: relative;
  padding: 10px 38px;
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
  outline: none;
}

.ut-search-icon {
  position: absolute;
  height: 20px;
  width: 20px;
  object-fit: contain;
  z-index: 1;
  top: 10px;
  left: 14px;
}

.main__header__title--sm {
  margin-top: 4px;
}

.split-section {
  display: flex;
  flex-flow: row nowrap;
  padding: 2rem 0rem;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.ut-button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  padding: 12px 20px;
  cursor: pointer;
}

.ut-button.primary {
  background-color: var(--color-primary-600);
  border: 1px solid var(--color-primary-600);
  color: var(--color-white);
}

.ut-button.primary.mobile {
  display: none;
}

.ut-button.primary:hover {
  background-color: var(--color-primary-500);
}

.ut-button.secondary {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  color: var(--color-gray-700);
}

.ut-button.secondary:hover {
  background-color: var(--color-gray-200);
}

.basic-plan-icon {
  background: url('./assets/page-2/basic-plan.svg');
  width: 14px;
  height: 16px;
}

.buss-plan-icon {
  background: url('./assets/page-2/buss-plan.svg');
  width: 14px;
  height: 16px;
}

.ent-plan-icon {
  background: url('./assets/page-2/ent-plan.svg');
  width: 14px;
  height: 16px;
}

.down-arrow-icon {
  background: url('./assets/page-2/down-arrow.svg');
  width: 12px;
  height: 12px;
}

.plan-logo {
  background-color: var(--color-primary-100);
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checked-box-icon {
  background: url('./assets/page-2/checked-box.svg');
  width: 16px;
  height: 16px;
}

.unchecked-box-icon {
  background: url('./assets/page-2/unchecked-box.svg');
  width: 16px;
  height: 16px;
}

.download-icon {
  background: url('./assets/page-2/icon-download.svg');
  width: 20px;
  height: 20px;
}

.plan-right {
  list-style-type: none;

}

.sec-right {
  flex-grow: 2;
  max-width: 700px;

}

.green-check-icon.icon {
  color: var(--color-success-700);
}

.plan-list-item {
  padding: 1rem;
  border: solid 1px var(--color-primary-300);
  border-radius: 8px;
  margin-bottom: 0.5rem;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
}

.plan-desc {
  color: var(--color-gray-500)
}

.plan-active {
  background-color: var(--color-primary-50);
  color: var(--color-primary-600);
}

.plan-active .plan-desc {
  color: var(--color-primary-600);
}

.plan-content {
  flex-grow: 2;
  margin-left: 1.5rem;
}

.plan-content p {
  margin-top: 0.2rem;
  margin-bottom: 0px;
}

.plan-header {
  display: flex;
  flex-flow: row nowrap;
}

.plan-name {
  flex-grow: 2;
}

.sec-left {
  padding-right: 6rem;
}

.left-content,
.left-header {
  margin: 0.2rem 0rem;
}

.left-content {
  color: var(--color-gray-500)
}

.billing-header {
  display: flex;
  flex-flow: row wrap;
  row-gap: 1rem;
}

.billing-header h2 {
  margin: 0rem 0rem 0.2rem 0rem;
}

.head-left {
  flex-grow: 2
}

.billing-header button {
  align-self: center;
}

.plan-left.sec-left {
  max-width: 280px;
  padding: 0px;
}

thead {
  background: var(--color-gray-50);
}

table td {
  padding: 1.5rem;
  border-bottom: solid 1px var(--color-gray-200);
}

table tbody td {
  background: #fff;

}

.table-wrapper {
  overflow-x: auto;

}

.billing-history {
  border: solid 1px var(--color-gray-200);
  border-radius: 10px;
  max-width: 700px;
}

.paid-badge {
  color: var(--color-success-700);
  background: var(--color-success-50);
  display: flex;
  column-gap: 10px;
  padding: 0.5rem;
  border-radius: 16px;
}

.green-check-icon {
  background: url('./assets/page-2/green-check.svg');
  width: 10px;
  height: 8px;
}

table td a {
  color: var(--color-primary-700);
  text-decoration: none;
}

@media only screen and (max-width: 1199px) {
  .split-section {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
  }

  .billing-history {
    margin-top: 1rem
  }

  .billing-header {
    padding: 0rem 2rem;
  }
}


@media (max-width: 480px) {
	.billing-header {
		padding: 0px;
	}
	.main__container {
		padding: 16px;
	}
	.split-section {
		padding: 0px;
	}
	.hide-mobile {
		display: none;
	}
  .mobile__header {
    width: 100vw;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
  }

  main {
    margin-left: 0px;
  }

  .mobile__header.box-shadow {
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    position: relative;
    z-index: 2;
  }

  .container {
    display: flex;
  }

  .collapsed__nav {
    display: none;
  }

  .settings__nav {
    display: none;
  }

  .main__header {
    display: flex;
    flex-direction: column;
  }

  .account__plans {
    margin-top: 32px;
  }
}
