:root {
	--xs-size: 24px;
	--sm-size: 32px;
	--md-size: 40px;
	--lg-size: 48px;
	--xl-size: 56px;
	--primary-50: #f9f5ff;
	--primary-100: #f4ebff;
	--primary-500: #9e77ed;
	--primary-600: #7f56d9;
	--primary-700: #6941c6;
	--primary-800: #53389e;
	--gray-50: #f9fafb;
	--gray-100: #f2f4f7;
	--gray-600: #475467;
	--gray-700: #344054;
	--error-50: #fef3f2;
	--error-100: #fee4e2;
	--error-500: #f04438;
	--error-600: #d92d20;
	--warning-50: #fffaeb;
	--warning-100: #fef0c7;
	--warning-500: #f79009;
	--warning-600: #dc6803;
	--success-50: #ecfdf3;
	--success-100: #d1fadf;
	--success-500: #12b76a;
	--success-600: #039855;
}