.ut-top-navbar {
    position: fixed;
    top: 0;
    background-color: #f5f5f5;
    z-index: 22;
    width: 100%;
    padding: 0 20px;
}

header {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    z-index: -2;
}

#title {
    font-size: 72px;
    font-weight: bold;
    margin-top: 0px;
    margin: 0;
    width: 120%;
}

.first_section {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0 10%;
    margin-top: 100px;
}

.first_section img {
    margin-left: -200px;
}

.first_section .action {
    display: flex;
    margin-top: 20px;
}

.first_section .action button {
    margin-right: 10px;
    border: 0;
}

.btn-link-grey {
    background-color: white;
    border: 1px solid #ccc !important;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.social-proof-section {
    margin-top: 100px;
    padding-bottom: 100px;
}

.first_section .action .btn-link-grey::before {
    content: '';
    display: inline-block;
    background-image: url(./../../../../img/play.svg);
    margin-right: 5px;
    height: 20px;
    width: 20px;
    background-size: contain;
}

.btn-link {
    color: white;
    border: 0;
}

.trial-btns { 
    display: flex;
}

.trial-btns button {
    margin-right: 10px;
    border: 0;
    padding: 10px 30px;
}

.flex-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-features {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-features span,
.header-features p,
.header-features h2 {
    width: 40%;
    text-align: center;
    margin: 5px;
}

.header-features span {
    color: #6941c6;
}

.flex-container {
    background-color: #f5f5f5;
}

h1 {
    font-size: 50px;
}

.content {
    margin-top: 50px;
    z-index: 20;
}

.content img {
    width: 560px;
    height: 640px;
}

.flex-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-evenly;
}
.flex-2 {
    display: flex;
    /* flex wrap */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1000px;
    margin: auto;
}
.rectangle {
    width: 900px;
    height: 200px;
    background-color: black;
    justify-content: center;
    margin-left: 250px;
}
.rectangle2 {
    width: 900px;
    justify-content: center;
    margin-left: 50px;
}

.rectangle3 {
    width: 500px;
    height: 200px;
    background-color: green;
    justify-content: center;
    margin-left: 50px;
    margin-top: 100px;
}
.search1 {
    margin-top: 50px;
    width: 300px;
    margin-left: 10px;
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-2-div {
    background-color: #f9fafb;
    width: 250px;
    margin: 10px;
    text-align: center;
    border-radius: 16px;
    padding: 10px 30px;
}

.flex-2-div img {
    margin-top: -30px;
    margin-bottom: 10px;
}

.pb-5 {
    padding-bottom: 160px;
}

.dashboard-img {
    display: block;
    margin: auto;
    margin-top: -150px;
}

.logo1 {
    background-color: #f1f1f1;
    width: 150px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin-left: 430px;
    margin-top: 100px;
}
.logo2 {
    
    height: 100px;
    text-align: center;
    
}

.unleash-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#promo-stats span.span-strong {
    font-size: 30px;
    font-weight: bold;
    color: #7f56d9;
}

#promo-stats .promo-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

.big-image {
    margin-left: 200px;
    height: 600px;
    width: 1000px;
    background-color: cadetblue;
}

.grid1 {
    justify-content: space-between;
    grid-template-columns: auto;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.img-logo {
    margin: auto;
    display: block;
    justify-content: center;
}

.logo-subscr {
    font-family: 'Inter';
    font-size: 30px;
    font-weight: var(--font-weight-reg);
    text-align: center;
}

.grid2 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    margin-left: 200px;
    height: 400px;
    width: 1000px;
    background-color: pink;
}

#blocks-header {
    justify-content: center;
    background-color: #f9fafb;
}
#blocks-header-div {
    width: 88%;
    height: 160;
    background-color: chartreuse;
}

.blocks-header-div {
    text-align: center;
}

.blocks-header-div span {
    color: #6941c6;
}

#blocks-grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
    flex-direction: row;
    display: flex;
}

.blocks-grid {
   display: flex;
   justify-content: space-around;
    
}


.block-grid {
    height: 560px;
    text-align: left;
    
}
.block-img {
    background-color: darkorchid;
    font-size: 15em;
    text-align: center;
}
.block-content {
    margin-top: 10%;
    padding: 100px;
    height: 70%;
}

.block-title {
    text-align: left;
}

.blocks-header-2 {
    background-color: white;
}

.blocks-header-2 .blocks-header-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.breaker {
    margin: 10px 5%;
}

.ut-icon-success::before {
    content: '';
    display: inline-block;
    background-image: url(./../img/featured-icon.svg);
    margin-right: 5px;
    height: 50px;
    width: 50px;
    background-size: contain;
}

.ut-icon-lightning::before {
    content: '';
    display: inline-block;
    background-image: url(./../img/lightning.svg);
    margin-right: 5px;
    height: 50px;
    width: 50px;
    background-size: contain;
}

#thunder-img {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 3em;
}
#promo-stats {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    width: 50%;
    margin-top: 50px;
}

.promo-stat {
    height: 200px;
    margin: auto;
}

.promo-stat.middle {
    border-left: 1px solid var(--color-gray-200);
    border-right: 1px solid var(--color-gray-200);
}

.promo-stat .stats-subscr {
    color: black;
}

#trial-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary-50);
    margin: 100px  10%;
    padding: 50px;
    border-radius: 16px;
}

#footer-blog {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

#header-list {
    list-style-type: none;
    display: flex;
}

#header-navbar-main {
    display: flex;
}

.blocks-grid .newsletter {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}


.blocks-grid .newsletter div {
    display: flex;
}

.newsletter input {
    padding: 12px;
    border-radius: 10px;
    border-color: #D0D5DD;
    
}

.span-text {
    font-size: 36px;
    color: black ;
}

.p-text {
    color: #667085;
    font-size: 20px;
}

.span-text-2 {
    font-size: 14px;
    color: #667085;
}