*{
    font-family: Arial, Helvetica, sans-serif;
  
} 

body, ul {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    
}
header{
    width: 100%;
}


nav {
    background-color: cadetblue;
    padding:  10px  10%;
}

.first_section {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0 10%;
}

h1 {
    font-size: 50px;
}

.content {
    margin-top: 150px;
}

.img {
    background-color: cadetblue;
    width: 350px;
    height: 400px;
    margin-top: 30px;
    margin-left:-100px;
    z-index: -1;

}
.flex-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-evenly;
  }
  .flex-2 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    margin-left: 50px;
    height: 500px;
    width: 1000px;
    
  }
    .rectangle{
      width: 900px;
      height: 200px;
      background-color: black;
      justify-content: center;
      margin-left: 250px;
    }
    .rectangle2{
        width: 900px;
        height: 200px;
        background-color: green;
        justify-content: center;
        margin-left: 50px;  
      }

      .rectangle3{
        width: 500px;
        height: 200px;
        background-color: green;
        justify-content: center;
        margin-left: 50px;  
        margin-top: 100px;
      }
    .search1{
        margin-top: 50px;
        width: 300px;
        margin-left: 10px;
    }
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-2-div {
    background-color: #f1f1f1;
    width: 250px;
    height: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
  }
  .logo1 {
    background-color: #f1f1f1;
    width: 150px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin-left: 430px;
    margin-top: 100px
  }
  .logo2 {
    background-color: #f1f1f1;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
    margin-left: 450px;
  }
  .but1{
      padding: 20px;
  }

  #navbar {
      display: flex;
      justify-content: space-between;
  }
  
  .big-image{
    margin-left: 200px;
    height: 600px;
    width: 1000px;
    background-color: cadetblue;

}

.grid1{
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto;
  margin-left: 200px;
  height: 800px;
  width: 1000px;
  background-color: darkblue;
}
.grid2{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    margin-left: 200px;
    height: 400px;
    width: 1000px;
    background-color:pink;

  }

  #blocks-header {
      justify-content: center;
  }
  #blocks-header-div {
    width: 88%;
    height: 160;
    background-color: chartreuse;
  }

  #blocks-grid {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    row-gap: 30px;
  }
  .block-grid {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 560px;
    text-align: center;
  }
  .block-img {
      background-color: darkorchid;
      font-size: 15em;
      text-align: center;
  }
  .block-content {
      margin-top: 10%;
      padding: 10px;
      height: 70%;
      background-color: darksalmon;
  }
  #thunder-img {
      width: 100px;
      height: 100px;
      margin: auto;
      margin-top: 50px;
      background-color: darksalmon;
      text-align: center;
      font-size: 3em;
  }
  #promo-stats {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 50px;
      margin-left: 50px;
      margin-right: 50px;
  }
  .promo-stat {
      background-color: dodgerblue;
      height: 200px;
  }
  #trial-block {
    margin: 30px; 
    background-color:khaki; 
    height: 200px;
    display: flex;
    justify-content: space-between;
  }

  section {
    border: 2px red dashed;
  }


#footer-blog {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;

}

#header-list {
  list-style-type: none;
  display: flex
}

#header-navbar-main {
  display: flex;
}