body {
    display: grid;
    margin-top: 0;
    grid-template-columns: 20% 80%;
}

#content {
    display: grid;
    grid-template-columns: 70% 30%;
}

#numbers-content {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


.number-stat-card{
    height: 114px;
    margin: 10px;
    background-color: red;
}

.graph {
    height: 365px;
    background-color: aquamarine;
    margin: 10px;
}


#tabs-n-filters {
    display: flex;
    justify-content: space-between;
    background-color: salmon;
    height: 40px;
}

#header-top {
    display: flex;
    justify-content: space-between;
    background-color: sandybrown;
    height: 66px;
}

#activity-header {
    display: flex;
    justify-content: space-between;
    height: 41px;
}

#activity-list {
    list-style-type: none;
}

.activity-entity {
    display: flex;
    margin-top: 15px;
    background-color: aquamarine;
}

.nav {
    position: sticky;
    top: 0;
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
}

#navbar-main {
    list-style-type: none;
}

.navbar-main-entity {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

#navbar-bottom {
    list-style-type: none;
}

#author {
    display: flex;
    justify-content: space-between;
}
#author-info {
    display: flex;
}
.additional {
    font-size: 1em;
    color: azure;
    margin: 0;
    padding: 0;
}

section {
    border: 1px;
    border-style: dashed;
    border-color: black;
}

.range-list {
    display: flex;
    list-style-type: none;
    column-gap: 10px;
}

.activity-entity i{
    background-image: url(./../img/activity-avatar.svg);
    width: 30px;
    height: 30px;
}

.dots{
    width: 10px;
    height: 10px;
}

.dots::before {
    content: '';
    display: inline-block;
    background-image: url(./../img/dots.svg);
    height: 10px;
    width: 10px;
    background-size: contain;
}

.arrow-up {
    width: 30px;
    height: 30px;
}


.arrow-up::before {
    content: '';
    display: inline-block;
    background-image: url(./../img/arrow-up.svg);
    height: 10px;
    width: 10px;
    background-size: contain;
}

.arrow-down {
    width: 30px;
    height: 30px;
}


.arrow-down::before {
    content: '';
    display: inline-block;
    background-image: url(./../img/arrow-down.svg);
    height: 10px;
    width: 10px;
    background-size: contain;
}

.plus {
    width: 30px;
    height: 30px;
}


.plus::before {
    content: '';
    display: inline-block;
    background-image: url(./../img/plus.svg);
    height: 15px;
    width: 15px;
    background-size: contain;
}

.export {
    width: 30px;
    height: 30px;
}


.export::before {
    content: '';
    display: inline-block;
    background-image: url(./../img/export.svg);
    height: 15px;
    width: 15px;
    background-size: contain;
}

.plus-white {
    width: 30px;
    height: 30px;
}


.plus-white::before {
    content: '';
    display: inline-block;
    background-image: url(./../img/plus-white.svg);
    height: 15px;
    width: 15px;
    background-size: contain;
}

.filter {
    width: 30px;
    height: 30px;
}


.filter::before {
    content: '';
    display: inline-block;
    background-image: url(./../img/filter.svg);
    height: 10px;
    width: 15px;
    background-size: contain;
}
