ul {
    padding: 0;
    margin: 0;
}

li {
    text-indent: 0;
    list-style-type: none;
}

.ut-list-horizontal {
    display: flex;
}

.ut-list-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.ut-list-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.ut-list-items-mr-2 li {
    margin-right: 2rem;
}

.ut-checked-list-items > li {
    /* This should be changed with the appropriate icon path */
    background-image: url('./assets/checked.svg');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-indent: 3rem;
    margin-top: 16px;
}
