/* reset styles */

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}

input {
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 360px;
    height: 36px;
    outline: none;
    padding: 12px 14px 12px 16px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    text-indent: 0;
    list-style-type: none;
}

/* general styles */

section,
footer {
    padding: 96px 80px;
}

@media (max-width: 768px) {
    section,
    footer {
        padding: 64px 16px;
    }
}

input:focus {
    box-shadow: 0px 1px 2px var(--color-primary-600);
    border: 1px solid var(--color-primary-600);
}

/* .paint {
    color: var(--color-primary-600);
}

.card {
    background: #f2f4f7;
    border-radius: 16px;
}

.select-mods {
    position: relative;
    border-radius: 4px;
    width: 150px;
    height: 30px;
    padding-left: 20px;
}

.imagemod {
    position: absolute;
    margin: auto;
    z-index: 1;
}

.pad-quick {
    padding-left: 30px;
}

.pad-quick2 {
    display: flex;
    align-items: center;
}

.quickmod {
    height: 27px;
    position: relative;
    display: flex;
} */

.btn-primary {
    background-color: #7f56d9;
    border: 1px solid #7f56d9;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    color: #fff;
}

.-ut-list-horizontal {
    display: flex;
}

.-ut-list-grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.-ut-list-grid-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 64px;
    column-gap: 32px;
}

@media (max-width: 1200px) {
    .-ut-list-grid-cols-3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .-ut-list-grid-cols-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .-ut-list-horizontal {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.-ut-list-grid-cols-4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    row-gap: 64px;
}

@media (max-width: 1200px) {
    .-ut-list-grid-cols-4 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .-ut-list-grid-cols-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 480px) {
    .-ut-list-grid-cols-4 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.-ut-list-items-mr-2 li {
    margin-right: 2rem;
}

/* styles for feature section */

.feature {
    background-color: var(--color-primary-50);
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature h2 {
    color: var(--color-primary-500);
}

.feature span {
    color: var(--color-primary-900);
}

.feature p {
    color: var(--color-primary-700);
    width: 768px;
}

.feature button {
    background-color: var(--color-primary-600);
    color: #fff;
    width: 135px;
    height: 48px;
    padding: 12px 20px;
    border: 1px solid var(--color-primary-600);
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

@media (max-width: 768px) {
    .feature p {
        width: auto;
    }
    .feature button {
        background-color: #fff;
        border: 1px solid var(--color-gray-300);
        width: 100%;
        color: var(--color-gray-700);
    }
}

/* styles for hiring section */

.hiring {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiring h2 {
    color: var(--color-primary-700);
}

.hiring span {
    color: var(--color-gray-900);
}

.hiring p {
    color: var(--color-gray-500);
    width: 768px;
    text-align: center;
}

.employees {
    margin-top: 64px;
    width: 100%;
}

.employees figcaption {
    text-align: center;
}

.employees figcaption h3 {
    color: var(--color-gray-900);
    margin-bottom: 0;
}

.employees figcaption h4 {
    color: var(--color-primary-700);
    margin: 0;
}

@media (max-width: 768px) {
    .hiring p {
        width: auto;
    }
}

/* styles for core values */

.core-values {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-primary-50);
}

.core-values span {
    color: var(--color-primary-700);
}

.core-values h2 {
    color: var(--color-primary-900);
    margin: 0;
    margin-top: 12px;
}

.core-values > p {
    color: var(--color-primary-700);
    width: 768px;
}

.values {
    margin-top: 64px;
    align-items: center;
    justify-content: center;
}

.core-values li {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
}

.values li > span {
    margin-top: 20px;
    display: block;
    color: var(--color-primary-900);
}

.values p {
    color: var(--color-primary-700);
    text-align: center;
}

@media (max-width: 768px) {
    .core-values > p {
        width: auto;
    }
}

/* styles for careers section */

.location {
    display: flex;
    justify-content: space-between;
}

.location span {
    color: var(--color-gray-900);
}

.card {
    display: flex;
    align-items: center;
}

.country-selector p {
    color: var(--color-gray-500);
    width: 768px;
}

.option-selector > span {
    color: var(--color-gray-500);
}

.select-mods {
    display: flex;
    align-items: center;
    height: 44px;
}

.select-wrapper {
    padding: 10px 14px;
    margin-left: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 44px;
    background: #ffffff;
    border: 1px solid var(--color-gray-300);
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}

.select-wrapper select {
    display: none;
}

.work-box {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-gray-200);
    margin-top: 64px;
    padding: 49px 0px;
}

.work-box h3 {
    color: var(--color-gray-900);
    margin: 0;
}

.work-box p {
    color: var(--color-gray-500);
    margin: 0;
}

.open-position {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 24px 24px 28px;
    background: #ffffff;
    /* Gray/200 */

    border: 1px solid var(--color-gray-200);
    box-sizing: border-box;
    border-radius: 16px;
    width: 768px;
    margin-bottom: 24px;
    height: 168px;
}

.open-position h4 {
    margin: 0;
    color: var(--color-gray-900);
}

.open-position p {
    margin: 0;
    color: var(--color-gray-500);
}

.work-box p {
    margin-right: 20px;
}

.salary-range span:first-child {
    margin-right: 24px;
}

.position-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.position-info-header {
    display: flex;
    justify-content: space-between;
}

.open-position img {
    margin-right: 6px;
}

@media (max-width: 1200px) {
    .open-position {
        width: 100%;
        margin-top: 20px;
    }
    .work-box {
        flex-direction: column;
    }
    .country-selector p {
        width: auto;
    }

    .location {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .open-position {
        flex-direction: column;
        height: 100%;
    }
    .open-position p {
        margin-top: 16px;
        margin-bottom: 32px;
    }
    .work-box {
        margin-top: 40px;
    }
    .option-selector > span {
        display: none;
    }
    .option-selector > select {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .open-position h4 {
        margin-bottom: 8px;
    }
    .open-position .header {
        order: 1;
        flex-direction: column;
    }
    .open-position .country {
        order: 2;
    }
    .open-position p {
        order: 3;
    }
    .salary-range {
        order: 4;
    }
}

/* styles for office picture section */

.picture {
    display: flex;
    justify-content: center;
    background: url('../../img/office.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.picture img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .picture {
        height: auto;
    }
    .picture img {
        object-fit: contain;
    }
}

@media (max-width: 480px) {
    .picture img {
        object-fit: contain;
    }
}

/* styles for join section */

.join {
    height: 426px;
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0px;

    height: 230px;
    background-color: var(--color-primary-50);
}

.inner-box h2 {
    color: var(--color-primary-900);
    margin: 0;
}

.inner-box span {
    color: var(--color-primary-700);
}

.inner-box input {
    box-sizing: border-box;
    width: 360px;
    height: 48px;
    padding: 12px 16px;
}

.inner-box form p {
    color: vaR(--color-primary-600);
}

.subscribe-btn {
    background-color: var(--color-purple-600);
    width: 118px;
    height: 48px;
    color: #fff;
    border: 1px solid #7f56d9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin-left: 16px;
}

@media (max-width: 768px) {
    .inner-box {
        padding: 40px 24px;
        height: auto;
    }

    .inner-box form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .inner-box form input {
        order: 1;
        width: 100%;
        margin-top: 32px;
    }

    .inner-box form p {
        order: 2;
    }

    .inner-box form button {
        width: 100%;
        margin-left: 0px;
        margin-top: 16px;
        order: 3;
    }
}

/* styles for footer */

.footer-head {
    border-top: 1px solid var(--color-gray-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 80px;
}

.footer-head li {
    margin-right: 32px;
    margin-top: 32px;
}

.footer-nav {
    margin-top: 32px;
    display: flex;
}

.footer-nav li {
    margin-right: 32px;
    display: flex;
}

.footer-footer {
    display: flex;
    justify-content: space-between;
}

.terms-privacy {
    display: flex;
}

.terms-privacy li {
    margin-left: 12px;
}

.burger-icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .login {
        display: none;
    }
    .top-navbar-list .nav-item {
        display: none;
    }

    .burger-icon {
        display: block;
    }

    .nav-brand {
        display: inline;
    }
}

@media (max-width: 768px) {
    .footer-head li {
        text-align: start;
    }

    .footer-footer {
        display: flex;
        flex-direction: column;
    }

    .terms-privacy {
        padding-top: 33px;
        border-top: 1px solid var(color-gray-200);
        order: 1;
    }
    .terms-privacy li {
        margin-left: 0px;
    }

    .copyright {
        order: 2;
        margin-top: 16px;
    }
}
