header {
    /* The top transparent header base properties */
    height: 5em;
}

nav {
    /* I just set the height in here */
    height: 3em;
    --purple: #53389E;
}

.logo {
    padding: 1em;
    align-content: center;
    float: left;
    width: fit-content;
}

.nav-bar {
    float: left;
}

.right-nav {
    float: right;
    padding-top: 2.5em;
    padding-right: 5em
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    padding: 2em;
}

li a {
    display: block;
    text-align: center;
    padding-left: 2em;
    padding-top: 1.5em;
    text-decoration: none;
}

.sign-up-btn {
    text-decoration: none;
    background-color: var(--purple);
    color: white;
    padding: 1em;
    border-radius: .5em;
}

.log-in {
    text-decoration: none;
    padding-right: 1em;
}