/* ########### NAVBAR ########### */

.ut-dashboard-navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100%;
    width: 5%;
    background-color: var(--color-primary-700);
}

.ut-dashboard-navbar .dashboard-navbar-list {
    padding: 0;
    margin-right: 16px;
    margin-left: 16px;
    text-align: center;
}

.ut-dashboard-navbar .dashboard-navbar-list-profile {
    margin: 14px;
}

.ut-dashboard-navbar .dashboard-navbar-list .nav-item {
    list-style-type: none;
    color: var(--color-gray-25);
    margin-bottom: 24px;
}

.ut-dashboard-navbar .nav-item:hover {
    cursor: pointer;
}

.ut-dashboard-navbar .nav-item a {
    text-decoration: none;
}

/* ########### DASHBOARD BACKGROUND ########### */

.ut-dashboard-background {
    background-color: var(--color-primary-700);
    margin-left: 5%;
    padding-top: 8px;
}

/* ########### DASHBOARD CONTENT ########### */

.ut-dashboard-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 25px;
    padding-left: 32px;
    padding-right: 32px;
}

.ut-dashboard-content .dashboard-top {
    display: flex;
    justify-content: space-between;
}

.ut-dashboard-content .dashboard-top button {
    padding: 8px;
    border-radius: 8px;
    margin-top: 16px;
    border: 1px solid var(--color-gray-300);
}

.ut-dashboard-content .dashboard-top button.import {
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
}

.ut-dashboard-content .dashboard-top button.add-customer {
    background-color: var(--color-primary-700);
    color: var(--color-primary-25);
    padding-left: 16px;
    padding-right: 16px;
}

.ut-dashboard-content .dashboard-graphs {
    display: flex;
    justify-content: space-between;
}

.ut-dashboard-content .dashboard-graphs img {
    float: right;
}

/* ########### TABLE STYLING ########### */

.ut-dashboard-table-container {
    margin-top: 24px;
}

.ut-dashboard-table-container button.filter {
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    color: var(--color-primary-700);
    border: 1px solid var(--color-gray-300);
    background-color: var(--color-primary-50);
}

.ut-dashboard-table-container button.more-filters {
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: 1px solid var(--color-gray-300);
    background-color: white;
}

.ut-dashboard-table-container .table-filtering {
    display: flex;
    justify-content: space-between;
}

.ut-dashboard-table-container .table-search input {
    border-radius: 6px;
    border: 1.5px solid var(--color-gray-200);
    padding: 10px;
}

.ut-dashboard-table-container .ut-table-dashboard {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.ut-dashboard-table-container .ut-table-dashboard tr {
    border-bottom: 1px solid var(--color-gray-200);
}

.ut-dashboard-table-container .ut-table-dashboard tr:nth-child(1) {
    border-top: 1px solid var(--color-gray-200);
    background-color: var(--color-gray-50);
}

.ut-dashboard-table-container .ut-table-dashboard th:nth-child(1),
.ut-dashboard-table-container .ut-table-dashboard td:nth-child(1) {
    border-left: 1px solid var(--color-gray-200);
    padding-left: 24px;
}

.ut-dashboard-table-container .ut-table-dashboard th:last-child, 
.ut-dashboard-table-container .ut-table-dashboard td:last-child {
    border-right: 1px solid var(--color-gray-200);
    padding-right: 24px;
}

.ut-dashboard-table-container .ut-table-dashboard th {
    color: var(--color-gray-500);
    text-align: left;
    padding: 4px;
}

.ut-dashboard-table-container .ut-table-dashboard td {
    text-align: left;
    padding: 4px;
}

.ut-dashboard-table-container .ut-table-dashboard .edit-links {
    text-align: right;
}

.ut-dashboard-table-container .ut-table-dashboard .edit-links a {
    margin-left: 16px;
}

button:hover {
    box-shadow: 0 0 4px rgba(3, 3, 3, 0.8);
    opacity: 0.9;
}

.ut-dashboard-table-container .ut-table-dashboard .dot {
    height: 32px;
    width: 32px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: -10px;
}

.ut-dashboard-table-container .ut-table-dashboard .range-outer {
    background-color: var(--color-primary-50);
    height: 10px;
    border-radius: 8px;
}

.ut-dashboard-table-container .ut-table-dashboard .range-inner {
    background-color: var(--color-primary-600);
    height: 10px;
    border-radius: 8px;
}

.ut-dashboard-table-container .ut-table-dashboard .range-width-0 {
    width: 0%;
}
.ut-dashboard-table-container .ut-table-dashboard .range-width-25 {
    width: 25%;
}
.ut-dashboard-table-container .ut-table-dashboard .range-width-50 {
    width: 50%;
}
.ut-dashboard-table-container .ut-table-dashboard .range-width-75 {
    width: 75%;
}
.ut-dashboard-table-container .ut-table-dashboard .range-width-100 {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .ut-dashboard-table-container .ut-table-dashboard tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 8px 0;
        border: 1px solid rgba(3, 3, 3, 0.2);
    }
    .ut-dashboard-table-container .ut-table-dashboard td,
    .ut-dashboard-table-container .ut-table-dashboard th {
        flex: 1 1 150px;
        border: 0.5px solid rgba(3, 3, 3, 0.2);
    }
}


