.ut-top-navbar{
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.ut-top-navbar.is-dark{
    background-color: #53389E;
}

.ut-top-navbar .top-navbar-list{
    list-style-type: none;
    margin: 0;
}

.ut-top-navbar .nav-item{
    display: inline;
    margin-right: 32px;
    font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.ut-top-navbar .nav-brand{
    display: inline;
    height: 32px;
    width: 142px;
    margin-right: 40px;
}

.ut-top-navbar .nav-item a{
    text-decoration: none;
    color: #667085;
}
.ut-top-navbar.is-dark .nav-item a{
    text-decoration: none;
    color: #E9D7FE;
}

.ut-top-navbar .nav-item-login{
    border: none;
    background: none;
    color: #667085;
    margin: 10px 30px 10px 18px;
    cursor: pointer;
    padding: 0;
}
.ut-top-navbar.is-dark .nav-item-login{
    color: #E9D7FE;
}

.ut-top-navbar .nav-item-signup{
    color: white;
    padding: 10px 18px 10px 18px;
    background: #7F56D9;
    border: 1px solid #7F56D9;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    cursor: pointer;
}
