@import '../../colors.css';


@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

footer {
    background-color: white;
    color: var(--color-primary-700);
    padding: 4em 7em;
}
hr {
    border: solid 1px var(--color-gray-200)
}


nav {
    display: flex;
   justify-content: space-between;
   margin-bottom: 4em;
}

#footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 4em 0;
}

.footer-menu-list{
    display: flex;
    flex-direction: column;
    width: 16.67%;
    margin-right: 2em;
}

.footer-menu-list:last-child{
    margin-right: 0;
}

.footer-menu-list span {
    display: block;
    font-weight: 600;
    font-size: 0.875em;
    color: var(--color-gray-900);
    margin-bottom: 0.5em;
}

.footer-menu-list ul {
   padding: 0;
}

.footer-menu-list ul li {
    /* Auto Layout */
    display: flex;
    margin-bottom: 1em ;   
    font-size: 1em; 
}

.footer-menu-list ul li a {
    color: var(--color-primary-700);
    text-decoration: none;
}
.app span {
    display: block;
    font-weight: 600;
    font-size: 0.875em;
    color: var(--color-gray-900);
    margin-bottom: 0.5em;
}

.container {
    /* Auto Layout */
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.container strong {
    color: var(--color-gray-400);
    text-align: right;
    font-weight: 400;
}
