.container {
	width: 100%;
	/* overflow: hidden; */
}

.left {
	float: left;
	background: red;
	height: 619px;
	width: 5%;
	/* text-align: center; */
	/* display: inline; */
}

.middle {
	background: green;
	height: 600px;
}

.nav-bottom {
	margin-top: 390px
}

#leftThing {
	width: 25%;
	background-color: rgb(60, 255, 0);
    height: 250px;
}

#rightThing {
	width: 75%;
	background-color: yellow;
    height: 250px;
}

table, th, td {
	border: 1px solid black;
  }

footer {
	height: 50px;
	background-color: aqua;
}
  
